<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing: {{ video_title }}</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: url('{{ video_thumbnail }}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            overflow: hidden;
        }
        audio {
            display: none;
        }
    </style>
</head>
<body>
    <audio autoplay loop>
        <source src="{{ url_for('watch', user_ip=request.remote_addr, video_file=video_path.split('/')[-1]) }}" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>
</body>
</html>
